<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css">

	<link rel="stylesheet" href="node_modules/open-sans-fontface/open-sans.css">
	<link rel="stylesheet" href="css/sidebar.css">

	<link rel="stylesheet" href="css/sidebar.menu.css">
	<link rel="stylesheet" href="css/sidebar.menu.white.css">
	<link rel="stylesheet" href="css/sidebar.menu.dark.css">
	<link rel="stylesheet" href="css/styles.css">

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<script src="https://rawgit.com/dbrekalo/attire/master/dist/js/build.min.js"></script>

	<link rel="stylesheet" href="css/fastselect.min.css">
	<script src="js/fastselect.standalone.js"></script>


	<title>RecipesClub</title>
</head>
<header>
	<nav class="navbar navbar-expand-lg fixed-top bg-white-2">

		<!-- navbar title -->
		<a class="navbar-brand navbar-link" href="index.html" target="_self">RecipesClub</a>

		<!-- navbar sidebar menu toggle -->
		<span class="navbar-text">
			<a href="#" id="sidebar-toggle" class="navbar-bars">

			</a>
		</span>

	</nav>
</header>

<body class="ng-cloak" class="body body-lighten bodyGral" ng-app="myApp" ng-controller="myController">

<div class="container-fluid">

				<!-- MODAL -->
				<div class="modal  fade fluid" id="modalNuevaReceta" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
					<div class="modal-dialog modal-xl" id="MNR"role="document">
						<div class="modal-content">
							<!-- Header modal -->
							<div class="modal-header">
								<h3 id="exampleModalLabel" class="text-justify pt-3">
									Nueva Receta
								</h3><button type="button" class="close" data-dismiss="modal" aria-label="Close"
									onclick="limpiarCampos()"><span aria-hidden="true">×</span></button>
							</div><!-- Body modal -->
							<form id="frm" class="card card-sm">
								<div class="form-group">
									<div class="modal-body">
										<div class="row">
											<div class="col-12">
												<h6>
													Título * <input type="text" ng-model="formTitulo"
														class="form-control col-xs-2" id="titulo" name="label"
														required="">
														<label for=""id=lblTitulo></label>
												</h6>
											</div>
											<div class="col-12 mb-3 form-group">
												<h6>
													Categorías *
												</h6>
												
												<select id="select" ng-model="formCategorias"
													class="multipleSelect form-control " multiple name="categorias"
													placeholder="SELECCIONE CATEGORIAS" style="width: 100%;" required>
													<optgroup ng-repeat="c in categorias">
														<option s ng-repeat="cv in c.HealthLabels.values " value="{{cv}}">
															{{cv}}</option>
														<option ng-repeat="cv in c.DietLabels.values" value="{{cv}}">
															{{cv}}</option>

													</optgroup>
												</select> <label for=""id=lblSelect></label>
												<script>
													$('.multipleSelect').fastselect();
												</script>
												<br>
											</div>
											<!--IMAGEN-->
											<div class="col-6 fluid justify-content-left">
												<div class="row fluid">
													<div class="contenedor container fluid">
														<div id="marcoVistaPrevia" class=" fluid contenedor">
															<img class="img-fluid" id="vistaPrevia" src="" alt=""
																max-width="537">
														</div>
													</div>
												</div>
												<div id='botonera' class="mt-3">
													<label class="btn-bs-file btn btn-md btn-info">Cargar imagen <input
															id="RecipesClub" ng-model="formImagen" type="file"
															accept="image/*" name="RecipesClub"></label>
												</div>
											</div>
											<div class="col-6">
												<div class="row fluid">
													<div class="col-6">
														<label>Cantidad de porciones *</label> <input type="text"
															ng-model="formPorciones" class="form-control"
															id="cantPorciones" name="yield" required=""
															pattern="[1234567890]+" title="Solo números enteros">
															<label for=""id=lblPorciones></label>
													</div>
													<div class="col-6">
														<label>Total de calorías (Kcal) *</label> <input type="text"
															ng-model="formCalorias" class="form-control"
															id="totalCalorias" name="calories" required=""
															pattern="[1234567890]+" title="Solo números enteros">
															<label for=""id=lblTotalCalorias></label>
													</div>
												</div>
												<div class="row justify-content-center">
													<h4 class="mt-3">
														Ingredientes
													</h4>
													<div class="container mb-3 mt-1"></div>
													<div class="col-12 ">

														<div class="input-group mb-3">

															<input id="nuevoIngrediente" type="text"
																name="checkListItem" class="form-control"
																placeholder="Nuevo ingrediente" />
															<div class="input-group-append">
																<button type="button" id="add"
																	class="btn btn-outline-info">Agregar</button>


															</div>

														</div>
														<div class="listIng" id="formIngredientes"></div>
														<br>
													</div>
													<hr>
													<div class="col-12 justify-content-center">
														<fieldset>
															<h5>
																Procedimiento *
															</h5>
															<div class="radio">
																<label><input id="rbtlink" type="radio" name="optradio"
																		checked value="1"
																		onchange="mostrar(this.value);"> Agregar link de
																	procedimiento</label>
															</div>
															<div class="radio">
																<label><input id="rbtprocedimiento" type="radio"
																		name="optradio" value="2"
																		onchange="mostrar(this.value);"> Cargar
																	procedimiento</label>
															</div>
															<textarea class="form-control"
																ng-model="formTextProcedimiento" rows="5"
																id="procedimiento" name="procedure" required="" >
															</textarea>
															<label for=""id=lbltextprocedimiento></label>
															<input type="text" ng-model="formLinkProcedimiento"
																value="" class="form-control col-xs-2"
																id="linkProcedimiento" name="url" required onchange="validarUrl(this);" required="" > 
																<label for=""id=lbllinkprocedimiento></label>
														</fieldset>
													</div>
												</div>
											</div>
											<div class="container mt-3">
												<a href="#demo" class="btn btn-info" data-toggle="collapse">Cargar
													información nutricional</a>
												<div id="demo" class="collapse mt-3">
													<div class="row">
														<!-- TABLA DE LA IZQUIERDA-->
														<div class="col-12 col-md-6">
															<table class="table table-striped fluid">
																<thead>
																	<tr>
																		<th></th>
																		<th>
																			Cantidad por porción
																		</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="nutri">
																		<td>
																			Vitamina K <input type="hidden" name="label"
																				value="VITK1">
																		</td>
																		<td>																			
																			<input type="text" class="form-control"
																				id="VITK1" name="quantity">
																		</td>
																		<td>
																			µg <input type="hidden" name="unit"
																				value="µg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina E <input type="hidden" name="label"
																				value="TOCPHA">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina D <input type="hidden" name="label"
																				value="VITD">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="VD">
																		</td>
																		<td>
																			µg <input type="hidden" name="unit"
																				value="µg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina B12 <input type="hidden"
																				name="label" value="VITB12">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="B12">
																		</td>
																		<td>
																			µg <input type="hidden" name="unit"
																				value="µg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina B9 <input type="hidden"
																				name="label" value="FOL">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="B9">
																		</td>
																		<td>
																			µg <input type="hidden" name="unit"
																				value="µg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina B6 <input type="hidden"
																				name="label" value="VITB6A">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="B6">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina B3 <input type="hidden"
																				name="label" value="NIA">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="B3">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina B2 <input type="hidden"
																				name="label" value="RIBF">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="B2">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina B1 <input type="hidden"
																				name="label" value="THIA">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="B1">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina C <input type="hidden" name="label"
																				value="VITC">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="VC">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Vitamina A <input type="hidden" name="label"
																				value="VITA_RAE">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="VA">
																		</td>
																		<td>
																			µg <input type="hidden" name="unit"
																				value="µg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Fosforo <input type="hidden" name="label"
																				value="P">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="P">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Zinc <input type="hidden" name="label"
																				value="ZN">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="Zn">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Hierro <input type="hidden" name="label"
																				value="FE">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="Fe">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Potasio <input type="hidden" name="label"
																				value="K">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="K">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																</tbody>
															</table>
														</div><!-- TABLA DE LA DERECHA-->
														<div class="col-12 col-md-6 mg-l-0">
															<table class="table table-striped fluid">
																<thead>
																	<tr>
																		<th></th>
																		<th>
																			Cantidad por porcion
																		</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="nutri">
																		<td>
																			Magnesio <input type="hidden" name="label"
																				value="MG">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="MG">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Calcio <input type="hidden" name="label"
																				value="CA">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="CA">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Sodio <input type="hidden" name="label"
																				value="NA">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="NA">
																		</td>
																		<td>
																			mg <input type="hidden" name="unit"
																				value="mg">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Proteina <input type="hidden" name="label"
																				value="PROCNT">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="PROCNT">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Azucar <input type="hidden" name="label"
																				value="SUGAR">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="SUGAR">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Fibra <input type="hidden" name="label"
																				value="FIBTG">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="FIBTG">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Carbohidratos <input type="hidden"
																				name="label" value="CHOCDF">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="CHOCDF">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Grasas Poliinsaturadas <input type="hidden"
																				name="label" value="FAPU">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="FAPU">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Grasas Monosaturadas <input type="hidden"
																				name="label" value="FAMS">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="FAMS">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Grasas Trans <input type="hidden"
																				name="label" value="FATRN">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="FATRN">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Grasas Saturadas <input type="hidden"
																				name="label" value="FASAT">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="FASAT">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																	<tr class="nutri">
																		<td>
																			Grasas <input type="hidden" name="label"
																				value="FAT">
																		</td>
																		<td>
																			<input type="text" class="form-control"
																				id="FAT">
																		</td>
																		<td>
																			g <input type="hidden" name="unit"
																				value="g">
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- Footer modal -->
								<div class="modal-footer">
									<button id="btnGuardar" class="btn btn-md btn-primary content-center"  type="submit"
										ng-click="guardarReceta(formTitulo, formCategorias, formImagen, formPorciones, formCalorias, formTextProcedimiento, formLinkProcedimiento)" >Guardar</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal"
										onclick="limpiarCampos()">Cerrar</button>
								</div>

							</form>
						</div>
					</div>
				</div>
				<!--FIN MODAL -->
			</div>

	<!--HOME PAGE-->

	<!--BUSCADOR-->

	<div class="container-fluid">
		<br />
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">

				<form id="frm" class="card card-sm" method="get" action="listado.html">
					<div class="card-body row no-gutters align-items-center">
						<div class="col">
							<input class="form-control form-control-lg form-control-borderless buscador" type="search" id="texto"
								name="texto" ng-model="txtBuscar" required minlength="3"
								pattern="[a-zA-ZñÑuÜáÁéÉíÍóÓúÚ\s]+" title="Solo letras" onkeyup="nospaces2(this)">

						</div>
						<!--end of col-->
						<div class="col-auto ml-1">
							<button class="btn btn-lg btn-primary" type="submit" value="1" name="from">Buscar</button>
							<button onclick="imgPorDefecto()" type="button" class="btn btn-lg btn-primary ml-2" data-toggle="modal"
					data-target="#modalNuevaReceta" data-whatever="@mdo">Agregar receta</button>
						</div>

					</div>
				</form>

			</div>
			<!--end of col-->
		</div>





		<!--CATEGORIAS-->


		<div class="container mt-4" ng-init="buscarCategorias()">
			<h2 class="text-center">Categorias</h2>
			<!--CATEGORIAS PRINCIPALES -->
			<div class="row mt-30">

				<div class="container fluid row" ng-repeat="c in categorias">

					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Vegana'}">
						<div class="box16">
							<img src="http://cdn.kiwilimon.com/recetaimagen/10921/thumb120x90-1402.jpg">
							<div class="box-content">
								<h3 class="title">
									<a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}
								</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Vegetariana'}">
						<div class="box16">
							<img src="http://img.recetascomidas.com/recetas/640_480/tortilla-francesa.jpg">
							<div class="box-content">
								<h3 class="title">
									<a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</a>
								</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de Lacteos'}">
						<div class="box16">
							<img
								src="http://cocinayrecetas-static.hola.com/hoycomemos/files/2015/06/Tortilla-de-esparragos.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.DietLabels.values | filter:{ $:'Equilibrado'}">
						<div class="box16">
							<img
								src="http://cocinayrecetas-static.hola.com/lacocinaperfecta/files/2014/11/IMG_0243.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=DietLabels&from=1&relation=DIET_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.DietLabels.values | filter:{ $:'Baja en carbohidratos'}">
						<div class="box16">
							<img
								src="https://img-global.cpcdn.com/002_recipes/1985530_ab1a80660ec48ac4/664x470cq70/photo.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=DietLabels&from=1&relation=DIET_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.DietLabels.values | filter:{ $:'Alta en fibra'}">
						<div class="box16">
							<img src="http://mxcdn.ar-cdn.com/recipes/xlarge/9cd65849-8cda-4060-8d0b-e328705461c3.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=DietLabels&from=1&relation=DIET_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>

				</div>
			</div>


			<!--CATEGORIAS OCULTAS-->
			<div class="row mt-30 " id="mb">

				<div class="container fluid row" ng-repeat="c in categorias">


					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.DietLabels.values | filter:{ $:'Alta en proteina'}">
						<div class="box16">
							<img src="http://mxcdn.ar-cdn.com/recipes/xlarge/f68db92b-2161-4a81-a4bb-e75685dbe778.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=DietLabels&from=1&relation=DIET_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.DietLabels.values | filter:{ $:'Baja en grasas'}">
						<div class="box16">
							<img src="https://img-global.cpcdn.com/002_recipes/143b674952100fec/664x470cq70/photo.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=DietLabels&from=1&relation=DIET_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.DietLabels.values | filter:{ $:'Baja en sodio'}">
						<div class="box16">
							<img src="http://cdn.kiwilimon.com/recetaimagen/22988/thumb120x90-15536.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=DietLabels&from=1&relation=DIET_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de mani'}">
						<div class="box16">
							<img
								src="http://canalcocina.es/medias/_cache/zoom-e3a4ec6c189c82422f253da8cf6c0283-920-518.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de soja'}">
						<div class="box16">
							<img src="https://img-global.cpcdn.com/002_recipes/48ad2961971e1594/664x470cq70/photo.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de Pescado'}">
						<div class="box16">
							<img
								src="http://canalcocina.es/medias/_cache/zoom-4c16a02016ac32561dc75805f8c19d33-920-518.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de mariscos'}">
						<div class="box16">
							<img src="http://img.recetascomidas.com/recetas/640_480/tortilla.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de huevos'}">
						<div class="box16">
							<img
								src="http://s3.amazonaws.com/gmi-digital-library/49d54068-783d-4720-ba9f-461849ab4f82.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de nueces'}">
						<div class="box16">
							<img src="http://img.recetascomidas.com/recetas/640_480/tortillas.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6" ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Paleo'}">
						<div class="box16">
							<img src="http://www.biencasero.com/advf/imagenes/4b7af134aec0a_200x200.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Libre de Gluten'}">
						<div class="box16">
							<img src="https://img-global.cpcdn.com/002_recipes/be6d1b5bd3e767e1/664x470cq70/photo.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6"
						ng-repeat="cv in c.HealthLabels.values | filter:{ $:'Baja en azucar'}">
						<div class="box16">
							<img
								src="https://img-global.cpcdn.com/002_recipes/recipes_82501_v1415337086_receta_foto_00082501-ziepj7bj8eo871islavt/664x470cq70/photo.jpg">
							<div class="box-content">
								<h3 class="title"><a class="non-underline-link"
										href='listado.html?category=HealthLabels&from=1&relation=HEALTH_LABELS&value={{cv}}'
										target="_self">{{cv}}</h3>
							</div>
						</div>
					</div>

				</div>


			</div>
			<!--
			<div  class="container fluid mt-3">
				<button id="bmb" class="btn btn-lg btn-primary" type="submit" 
				onclick="mostrarOtrasCategorias('mb')">VER MAS</button>				
			</div>
		
		</div>
	</div>

-->
			<!-- FIN HOME PAGE-->

			<!-- MODAL NUEVA RECETA -->
			



			<footer class="mt-5 mb-2 fixed-botton">
				Copyright Recipes Club 2019
			</footer>

			<!-- SCRIPTS -->
			<!-- javascript library -->
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
				crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
				integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
				crossorigin="anonymous"></script>

			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
				integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
				crossorigin="anonymous"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js">
				</script>
			<script src="js/nanobar.js"></script>
			<script src="js/sidebar.menu.js"></script>

			<script src="js/app.js"></script>
			<script src="js/validaciones.js"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>

</html>