<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css">

	<link rel="stylesheet" href="node_modules/open-sans-fontface/open-sans.css">
	<link rel="stylesheet" href="css/sidebar.css">

	<link rel="stylesheet" href="css/sidebar.menu.css">
	<link rel="stylesheet" href="css/sidebar.menu.white.css">
	<link rel="stylesheet" href="css/sidebar.menu.dark.css">

	<title>RecipesClub</title>
</head>

<body class="body body-lighten" ng-app="myApp" ng-controller="myController">


	<div class="d-flex" id="wrapper">
		<!-- MENU -->
		<!-- sidebar -->
		<div class="sidebar sidebar-lighten">

			<!-- sidebar menu -->
			<div class="sidebar-menu">

				<!-- menu -->
				<ul class="list list-unstyled list-scrollbar">

					<!-- simple menu -->
					<li class="list-item">
						<p class="list-title">CATEGORÍAS</p>
						<ul class="list-unstyled">
							<li><a href="#" class="list-link" ng-click="buscarRecetas('DietLabels','DIET_LABELS','Baja en carbohidratos',1)">Baja en carbohidratos</a></li>
							<li><a href="#" class="list-link" ng-click="buscarRecetas('DietLabels','DIET_LABELS','Balanceado',1)">Equilibrada</a></li>
							<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Vegana',1)">Vegana</a></li>
							<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de Lacteos',1)">Libre de lácteos</a></li>
							<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Vegetariana',1)">Vegetariana</a></li>							
							<li><a href="#" class="list-link link-arrow"><i class="fa" aria-hidden="true"></i>OTRAS</a>
								<ul class="list-unstyled list-hidden">
									<li><a href="#" class="list-link" ng-click="buscarRecetas('DietLabels','DIET_LABELS','Alta en proteina',1)">Alta en proteina</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('DietLabels','DIET_LABELS','Baja en grasas',1)">Baja en grasas</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('DietLabels','DIET_LABELS','Baja en sodio',1)">Baja en sodio</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('DietLabels','DIET_LABELS','Alta en fibra',1)">Alta en fibra</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de mani',1)">Libre de mani</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de soja',1)">Libre de soja</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de Pescado',1)">Libre de Pescado</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de mariscos',1)">Libre de mariscos</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de huevos',1)">Libre de huevos</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de nueces',1)">Libre de nueces</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Paleo',1)">Paleo</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Libre de Gluten',1)">Libre de Gluten</a></li>
									<li><a href="#" class="list-link" ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS','Low Sugar',1)">Low Sugar</a></li>
								</ul>
							</li>
							
						</ul>
					</li>

				</ul>
			</div>
		</div>


		<!-- CONTENIDO -->
		<!-- website content -->
		<div class="content">

			<!-- NAV -->
			<!-- navbar top fixed -->
			<nav class="navbar navbar-expand-lg fixed-top bg-white-2">

				<!-- navbar title -->
				<a class="navbar-brand navbar-link" href="index.html">RecipesClub</a>

				<!-- navbar sidebar menu toggle -->
				<span class="navbar-text">
					<a href="#" id="sidebar-toggle" class="navbar-bars">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</a>
				</span>

			</nav>



			<!-- LISTADO -->
			<!-- content container -->
			<div class="container-fluid" ng-show="pantalla=='listado'">

				<h1>Listado de Recetas</h1>
				<h5 ng-hide="procesando">Categoría: {{value}} - Página: {{from}} </h5>

				<div class="progress" ng-model="barra" ng-show="procesando">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
						aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>

				<!-- one box -->
				<div class="content-box mb-3 content-lighten"
					ng-repeat="r in recetas | orderBy: orden_crit : orden_rev">
					<div class="row">
						<div class="col-auto">
							<img src="{{r.image}}" class="rounded" width="100" height="100">
						</div>
						<div class="col-auto">
							<a href="#" ng-click="buscarReceta(r.id)" data-toggle="modal" data-target="#modalDetalle"><h3>{{r.label}}</h3></a>
							<p>Ingredientes: 
								<p ng-repeat="il in r.ingredientLines | limitTo:3">
									- {{il}}
								</p>
							</p>
							<p>Categorías: 
								<span ng-repeat="cat in r.dietLabels">
									<a href=# ng-click="buscarRecetas('DietLabels','DIET_LABELS',cat,1)">{{cat}}</a>
									-																		
								</span>
								<span ng-repeat="cat in r.healthLabels">
									<a href=# ng-click="buscarRecetas('HealthLabels','HEALTH_LABELS',cat,1)">{{cat}}</a>
									<font ng-show="!$last"> - </font>
								</span>						
							</p>
						</div>
					</div>
				</div>

				<!-- PAGINACION -->
				<nav>
					<ul class="pagination justify-content-center">
						<li class="page-item {{from === 1 ? 'disabled' : ''}}">
							<a class="page-link" href="#" tabindex="-1" ng-show="!procesando" ng-click="anteriorPag()">Anterior</a>
						</li>
				
						<li class="page-item">
							<a class="page-link" href="#" ng-show="!procesando" ng-click="siguientePag()" >Siguiente</a>
						</li>
					</ul>
				</nav>

			</div>

			<!-- DETALLE -->
			<!-- content container -->
			<div class="container-fluid">

				<!-- MODAL DETALLE-->				
				<!-- Modal -->
				<div class="modal fade fuid" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content" ng-repeat="r in receta">
				
							<!-- Header modal -->
							<div class="modal-header">
								<h3 class="modal-title" id="exampleModalLabel" class="text-justify pt-3">{{r.label}}
								</h3>
				
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!-- Body modal -->
							<div class="modal-body">
								<div class="row">
									<div class="col-6">
										<img class="img-fluid" src={{r.image}} height="664" width="470">
									</div>
									<div class="col-6">
										<div class="row justify-content-center">
											<h4 class="">INGREDIENTES</h4>
				
				
											<div class="col-12 justify-content-center" ng-repeat="i in r.ingredientLines">
												- {{i}}
												</p>
											</div>
				
				
											<div class="col-12 justify-content-center">
												<hr>
												<h6>Cantidad de porciones: {{r.yield}} </h6>
												<hr>
											</div>
											<div class="col-12 justify-content-center">
												<h6>Total de Calorias: {{r.calories |number:2}} </h6>
												<hr>
											</div>
				
											<hr>
											<a href={{r.url}} target="blank">Ver Procedimiento</a>
										</div>
									</div>
									<!--revisar-->
									<div class="container mt-3">
				
										<a href="#demo" class="btn btn-info" data-toggle="collapse">Ver Informacion
											Nutricional</a>
				
										<div id="demo" class="collapse mt-3" >
											<div class="row">
												<!-- TABLA DE LA IZQUIERDA-->
												<div class="col-12 col-md-6 ">
												
													<table class="table table-striped fluid">
														<thead>
															<tr>
																<th> </th>
																<th>Cantidad por pocion</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'VITK1'} " >
																<td>Vitamina K</td>
																<td > {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'TOCPHA'} ">
																<td>Vitamina E</td>
																<td >
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'VITD'}" > 
																<td>Vitamina D</td>
																<td  > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'VITB12'} ">
																<td>Vitamina B12</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FOL'} ">
																<td>Vitamina B9</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'VITB6A'} ">
																<td>Vitamina B6</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'NIA'} ">
																<td>Vitamina B3</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr  ng-repeat="n in r.totalNutrients | filter:{label:'RIBF'} ">
																<td>Vitamina B2</td>
																<td> 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'THIA'} ">
																<td>Vitamina B1</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'VITC'} ">
																<td>Vitamina C</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'VITA_RAE'} ">
																<td>Vitamina A</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label: 'P'}:true ">
																<td>Fosforo</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'ZN'} ">
																<td>Zinc</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FE'} ">
																<td>Hierro</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'K'}:true ">
																<td>Potasio</td>
																<td > 
																{{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
														</tbody>
													</table>
												</div>
												<!-- TABLA DE LA DERECHA-->
												<div class="col-12 col-md-6 mg-l-0">
													<table class="table table-striped fluid">
														<thead>
															<tr>
																<th> </th>
																<th>Cantidad por pocion</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'MG'} ">
																<td>Magnesio</td>
																<td> {{n.quantity  |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'CA'} ">
																<td>Calcio</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'NA'} ">
																<td>Sodio</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'PROCNT'} ">
																<td>Proteina</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'SUGAR'} ">
																<td>Azucar</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FIBTG'} ">
																<td>Fibra</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'CHOCDF'} ">
																<td>Carbohidratos</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FAPU'} ">
																<td>Grasas Poliinsaturadas</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FAMS'} ">
																<td>Grasas Monosaturadas</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FATRN'} ">
																<td>Grasas Trans</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FASAT'} ">
																<td>Grasas Saturadas </td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															<tr ng-repeat="n in r.totalNutrients | filter:{label:'FAT'}:true ">
																<td>Grasas</td>
																<td> {{n.quantity |number:2}} {{n.unit}}</td>
															</tr>
															
															
														</tbody>
													</table>
												</div>
											</div>
				
										</div>
									</div>
								</div>
							</div>
							<!-- Footer modal -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!--FIN MODAL -->

			</div>					

		</div>
	</div>



<footer class="mt-5 mb-2">
	Copyright Recipes Club 2019
</footer>


	<!-- SCRIPTS -->
	<!-- javascript library -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js">
	</script>
	<script src="js/nanobar.js"></script>
	<script src="js/sidebar.menu.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script>
		$(function () {
			new PerfectScrollbar('.list-scrollbar');
			var nanobar = new Nanobar();
			nanobar.go(100);
		});
	</script>
</body>

</html>